{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="detail-card">

        <h1>{{ product.name }}</h1>

        <p class="description">{{ product.description }}</p>
        <p><strong>Category:</strong> {{ product.category.name }}</p>

        <h2>Variants</h2>

        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                    <th>SKU</th>
                </tr>

                {% for v in product.variants.all %}
                <tr>
                    <td>{{ v.size }}</td>
                    <td>₹{{ v.price }}</td>
                    <td>{{ v.sku }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <br>
        <a class="btn" href="{% url 'products:list' %}">Back</a>

    </div>

</div>

{% endblock %}
